<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

</head>
<body>
    <header>Header</header>
    <main>
        <section>
            <h2>Admissions</h2>
        </section>
        <section>
            <h2>Placements</h2>
        </section>

        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eos alias ad fuga eum esse veniam perspiciatis sint tempore expedita quia ullam totam fugit accusantium quos, molestias atque ducimus illo!
        </article>

        <aside>
           
          <h3>Recommended Books</h3>  
          <ul>
            <li>"Introduction to Algorithm"</li>
            <li>"Learn Python the hard way"</li>
          </ul>

        </aside>    
        </main>

        <hr>
        <footer>
            
        -First link <br>
        -Second link <br>
        -Third link <br>

        </footer>
             
    
</body>
</html>